
@font-face {
    font-family: 'hauserbold';
    src: url('/assets/css/hauser-webfontkit/hauser_bold-webfont.woff2') format('woff2'), 
        url('/assets/css/hauser-webfontkit/.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background: url("/assets/images/background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: blueviolet;
    
}

.grid {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: repeat(6, auto);
    height: 100vh;

}

.title {
    font-family: 'hauserbold', Arial, Helvetica, sans-serif;
    color: silver;
    font-size: 4vw;
    text-align: center;
    grid-column: 2;
    grid-row: 1 / 2;
    margin: 0;
}

.title h1, h3  {
    margin: 0;
    letter-spacing: 3px;

}


.footer {
    
    grid-column: 1 / 4;
    grid-row-start: 6;
    background-color: blueviolet;
    border: solid 5px red;
    height: 50%;
    align-self: end;
    text-align: center;
}


.game-area {
    grid-column: 2;
    grid-row: 3 / 5;
    background-color: blueviolet;
    opacity: 0.7;
    border: solid 4px red;
    height: 100%;
    width: 100%;

    /* Flexbox for the triggers */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;



}

.trigger {
    margin: 0.5em; 
    border: solid 2px black;
    width: 8rem;
    height: 5em;
    flex-shrink: 3;
    background-color: aquamarine;

}


.instructions {
    grid-column: 2;
    grid-row: 4 / 5;
}
