/* Fonts */
@font-face {
    font-family: 'hauserbold';
    src: url('fonts/hauser-webfontkit/hauser_bold-webfont.woff2') format('woff2'), 
        url('fonts/hauser-webfontkit/hauser_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arcade';
    src: url('fonts/ARCADECLASSIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* Title Animation */
@keyframes title-zoom {
    from{
        transform: scale(0.1)
    } to {
        transform: scale(1);
    }

}

/* General Format & Styling */
body {
    background: url("/assets/images/background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: blueviolet;
    
}

.grid {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: repeat(8, auto);
    row-gap: 1em;
    height: 100vh;

}

.title {
    font-family: 'hauserbold', Arial, Helvetica, sans-serif;
    color: orange;
    font-size: 4vw;
    text-align: center;
    grid-column: 2;
    grid-row: 1 / 2;
    margin: 0;
    height: 100%;
    
}

.title h1, h3  {
    margin: 0;
    letter-spacing: 3px;
    /* Ref Code : https://stackoverflow.com/questions/4919076/outline-effect-to-text
        https://css-tricks.com/how-to-create-neon-text-with-css/ */
    text-shadow:
    -1px -1px 0 #000,
    1px 1px 0 silver,
    0 0 10px orange,
    0 0 21px orange,
    0 0 42px orangered,
    0 0 82px orangered,
    0 0 92px orangered;
    
    /* Zoom Effect */
    animation-name: title-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/* Landing Area */
#landing-background {
    grid-column: 2;
    grid-row: 2 / 5;
    background-color: rgba(138, 43, 226, 0.7);
    border: solid 7px black;
    height: auto;
    width: 100%;
    text-align: center;   
    
    /* Ref Code: 
    https://webcode.tools/generators/css */
    animation: scaleIn 2s linear 0s 1 normal forwards;

}

/* Ref Code: 
https://webcode.tools/generators/css/keyframe-animation */
@keyframes scaleIn {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

.hidden {
    display: none !important;
    
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    list-style-type: none;
    font-family: 'arcade', monospace;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-size: 2em;
    margin: 0;
    padding: 10px;

}

.instructions li {
    padding: 0.5rem;
    

}

.instructions-img {
    height: 2rem;
    width: auto;
    transform: translateY(5px);
    padding: 10px;

}

#drum-pads-img {
    height: 100px;
    width: auto;

}

.layer-img {
    height: 50px;
    width: auto;
}

#start-btn {
    width: 100px;
    height: 70px;
    color: rgba(138, 43, 226);
    font-family: 'arcade', monospace;
    font-size: 25px;
    text-align: center;
    border: 5px solid black;
    border-radius: 10%;
    background-color: orange;
    margin-bottom: 10px;

}


/* Game Area */
#game-area {
    grid-column: 2;
    grid-row: 2 / 5;
    background-color: rgba(138, 43, 226, 0.7);
    border: solid 7px black;
    height: auto;
    width: 100%;

    /* Flexbox for the triggers */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

#game-area button {
    border: 5px solid black;
    border-radius: 10%;
    background-color: rgba(127, 255, 212);
    width: 20%;
    height: auto;

}

.trigger {
    margin: 0.5em; 
    border: solid 7px black;
    flex-shrink: 3;
    background-color: rgba(127, 255, 212, 1);
    opacity: 1;
    padding-top: 0.5em;
    transition: all 0.03s;

}

.trigger img {
    height: 4em;
    width: 100%;
    height: 100%;

}

.trigger:active {
    transform: scale(1.1);
    border: solid 7px orange;
    box-shadow: 0 0 30px orange;
    
}


/* Layer Area */
#layer-area {
    grid-column: 2;
    grid-row: 5;
    column-gap: 4px;
    height: auto;
    width: 100%;
    border: 5px solid black;
    background-color: rgba(138, 43, 226, 0.7);
    align-items: center;

    /* Grid for squares */
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 4px;
    
}

.sound-squares {
    height: 4vh;
    width: 4vw;
    background-color: rgba(138, 43, 226);
    border: 4px solid black;
    margin: auto;

}


.layer-indicator {
    font-family: 'arcade', monospace;
    height: auto;
    width: 80%;
    text-align: center;
    font-size: 80%;
    background-color: orange;
    color: rgba(138, 43, 226);
    border: 3px solid black;
    margin: auto;

}

.orange {
    background-color: orange !important;
}

/* Controls Area */
#controls {
    grid-column: 2 / 3;
    grid-row-start: 6;
    height: 100%;
    width: 100%;
    border: 5px solid black;
    background-color: rgba(138, 43, 226, 0.7);

    /* For Control Buttons */
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#controls button, .kit-label, .bpm-label {
    width: 20%;
    height: auto;
    color: rgba(138, 43, 226);
    font-family: 'arcade', monospace;
    font-size: 4vw;
    text-align: center;
    border: 5px solid black;
    background-color: orange;

}

.bpm-label {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.kit-checkbox {
    display: none;

}

/* BPM Input */
#timeoutSelector {
    width: 30%;
    background-color: rgba(138, 43, 226, 0.7);
    font-family: 'arcade', monospace;
    line-height: 80%;
    font-size: 2rem;
    
}

/* Instructions Return Button - Hidden Until Start */
.instructions-rtn {
    grid-column: 2 / 3;
    grid-row-start: 7;
    height: 100%;
    width: 100%;
    border: 5px solid black;
    background-color: rgba(138, 43, 226, 0.7);
    margin: 0;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    
}

.instructions-rtn p {
    font-family: 'hauserbold', Arial, Helvetica, sans-serif;
    color: orange;
    font-size: 3vw;
    text-align: center;
    height: 100%;
    margin: 0;
}


/* Footer */
.footer {
    grid-column: 2 / 3;
    grid-row-start: 9;
    background-color: rgba(138, 43, 226, 0.7);
    border: solid 7px black;
    height: 100%;
    width: 100%;
    align-self: end;
    text-align: center;
    font-family: 'arcade', monospace;
    font-size: 30px;
}

.footer-text {
    font-family: 'arcade', monospace;
    font-size: 30px;
    color: black;
    word-spacing: 1rem;
    padding-top: 10px;
    
}

.footer-text a {
    text-decoration: none;
    
}

.footer-text a:visited {
    color: black;
    text-decoration: none;

}

.footer-text a:hover {
    color: orange;
    text-decoration: none;

}