/* Fonts */
@font-face {
    font-family: 'hauserbold';
    src: url('/assets/css/fonts/hauser-webfontkit/hauser_bold-webfont.woff2') format('woff2'), 
        url('/assets/css/fonts/hauser-webfontkit/hauser_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arcade';
    src: url('/assets/css/fonts/ARCADECLASSIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* Title Animation */

@keyframes title-zoom {
    from{
        transform: scale(0.1)
    } to {
        transform: scale(1);
    }

}

/* General Format & Styling */
body {
    background: url("/assets/images/background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: blueviolet;
    
}

.grid {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: repeat(6, auto);
    row-gap: 1em;
    height: 100vh;

}

.title {
    font-family: 'hauserbold', Arial, Helvetica, sans-serif;
    color: silver;
    font-size: 4vw;
    text-align: center;
    grid-column: 2;
    grid-row: 1 / 2;
    margin: 0;
    height: 100%;
    
}

.title h1, h3  {
    margin: 0;
    letter-spacing: 3px;

    /* Zoom Effect */
    animation-name: title-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

.controls {
    grid-column: 2 / 3;
    grid-row-start: 5;
    height: auto;
    width: auto;
    border: 5px solid black;
    background-color: rgba(138, 43, 226, 0.7);

}

.instructions p {
    color: silver;
    font-family: arcade, monospace;
    font-size: 5vw;
    text-align: center;

}

.game-area {
    grid-column: 2;
    grid-row: 2 / 5;
    background-color: rgba(138, 43, 226, 0.7);
    border: solid 7px black;
    height: auto;
    width: 100%;

    /* Flexbox for the triggers */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.game-area button {
    border: 5px solid black;
    border-radius: 10%;
    background-color: rgba(127, 255, 212);
    width: 20%;
    height: auto;
    


}

.trigger {
    margin: 0.5em; 
    border: solid 7px black;
    flex-shrink: 3;
    background-color: rgba(127, 255, 212, 1);
    opacity: 1;
    padding-top: 0.5em;

}

.trigger img {
    height: 4em;
    width: 100%;
    height: 100%;

}

.footer {
    grid-column: 1 / 4;
    grid-row-start: 6;
    background-color: rgba(138, 43, 226, 0.7);
    border: solid 7px black;
    height: 50%;
    align-self: end;
    text-align: center;
}